name: CI-CD-JS-workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
    - name: Downloading the Code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Installing dependencies
      run: npm install
      
    - name: Uploading Artifact
      uses: actions/upload-artifact@v4
      with:
        name: production-code
        path: .

  Linter:
      name: Code checking with Linter
      runs-on: ubuntu-latest
      needs: [Build]
      permissions:
        contents: read
        packages: read
        statuses: write
      
      steps:
        - name: Download code from repo
          uses: actions/checkout@v4
          
        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '20'

        - name: Install dependencies
          run: npm install
    
        - name: Run Linter
          run: npm run lint

  Prettier:
      name: Code checking with Pritier
      runs-on: ubuntu-latest
      needs: [Build]
      permissions:
        contents: read
        packages: read
        statuses: write

      steps:
        - name: Download code from repo
          uses: actions/checkout@v4

        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '20'

        - name: Install dependencies
          run: npm install

        - name: Run Prettier
          run: npm run format:check
        
  SAST-Security:
      name: Security analyzer with CodeQL
      runs-on: ubuntu-latest
      needs: [Linter, Prettier]
      permissions:
        contents: read
        packages: read
        statuses: write
        security-events: write

      steps:
        - name: Downloading code from repo
          uses: actions/checkout@v4

        - name: Initialize CodeQL
          uses: github/codeql-action/init@v3
          with:
            languages: 'javascript'

        - name: Perform CodeQL Analysis
          uses: github/codeql-action/analyze@v3
    
        
