name: CI-CD-JS-workflow

# A pipeline will be activated every time on push to main, or pull request to main 
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Build:
    # using the latest ubunt for the build process
    runs-on: ubuntu-latest

    # downloading the code from the repo
    steps:
    - name: Downloading the Code
      uses: actions/checkout@v4

    # setup node js
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    # installing dependencies
    - name: Installing dependencies
      run: npm install

    # uploading the artifacts
    - name: Uploading Artifact
      uses: actions/upload-artifact@v4
      with:
        name: production-code
        # everything from the root folder will be stored into the artifact 
        path: .

  Linter:
      # step to check for errors and bad code style
      name: Code checking with Linter
      runs-on: ubuntu-latest
      # this step should be performed after the building job 
      needs: [Build]
      permissions:
        # allows the job to download the code and read the code 
        contents: read
        # allows the job to download and read the dependencies 
        packages: read
        # allows to write info for the pipeline
        statuses: write
      
      steps:
        # Downloading the code from Git repo
        - name: Downloading the Code
          uses: actions/checkout@v4

        # Setup Node js
        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '20'

        # Installing dependencies
        - name: Install dependencies
          run: npm install

        # running linting
        - name: Run Linter
          run: npm run lint

  Unit-Tests:
      name: Downloading the artifact
      runs-on: ubuntu-latest
      needs: [Linter]
      permissions:
        contents: read
        packages: read
        statuses: write

      steps:
        - name: Downloading the artifact
          uses: actions/download-artifact@v4
          with:
            name: production-code
            path: .

        - name: Setup Node.Js
          uses: actions/setup-node@v4
          with: 
            node-version: '20'
        
        - name: Installing dependencies
          run: npm install

        - name: Running test
          run: npm test 
        
  SAST-Security:
      name: Security analyzer with CodeQL
      runs-on: ubuntu-latest
      needs: [Unit-Tests]
      permissions:
        contents: read
        packages: read
        statuses: write
        security-events: write

      steps:
        - name: Downloading code from repo
          uses: actions/checkout@v4

        - name: Initialize CodeQL
          uses: github/codeql-action/init@v3
          with:
            languages: 'javascript'

        - name: Perform CodeQL Analysis
          uses: github/codeql-action/analyze@v3

  SCA-Security:
      name: Security dependency analizer with Trivy
      runs-on: ubuntu-latest
      needs: [Unit-Tests]
      permissions:
        contents: read
        packages: read
        statuses: write
        security-events: write 
    
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Run Trivy Scanner for Dependencies
          uses: aquasecurity/trivy-action@master
          with:
            scan-type: 'fs'
            scan-ref: '.'
            exit-code: '1'
            severity: 'CRITICAL,HIGH'

  Docker-Build-Push:
    name: Building and pushing Docker image to DockerHub
    runs-on: ubuntu-latest
    needs: [SAST-Security, SCA-Security]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push 
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/my-app:latest
            ${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}
  
  Post-Build-Scan:
    name: Security Scan on Remote Image
    runs-on: ubuntu-latest
    needs: [Docker-Build-Push]
    
    steps:
      - name: Run Trivy on Docker Hub Image
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'image'
          image-ref: '${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL'
          ignore-unfixed: true
        env:
          TRIVY_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          TRIVY_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  Deploy-Test-K8s:
    name: Test Deployment in Kubernetes (Kind)
    runs-on: ubuntu-latest
    needs: [Post-Build-Scan]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.9.0

      - name: Create Deployment Manifest
        run: |
          kubectl create deployment my-js-app \
            --image=${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }} \
            --replicas=1 \
            --port=3000 \
            --dry-run=client -o yaml > deployment.yaml

      - name: Apply to Cluster
        run: kubectl apply -f deployment.yaml

      - name: Verify Deployment
        run: |
          echo "Waiting for pod to be ready..."
          kubectl rollout status deployment/my-js-app --timeout=60s

      - name: Test Endpoint
        run: |
          kubectl port-forward deployment/my-js-app 3000:3000 &
          
          sleep 5
          
          echo "Testing URL..."
          curl --fail http://localhost:3000

          curl -s "http://localhost:3000/add?a=10&b=20" | grep "Result: 30"
          if [ $? -eq 0 ]; then
            echo "✅ Addition Logic works (10+20=30)"
          else
            echo "❌ Addition Logic FAILED"
            exit 1
          fi

          # TEST 3: Valid Subtraction (50 - 20 = 30)
          curl -s "http://localhost:3000/subtract?a=50&b=20" | grep "Result: 30"
          if [ $? -eq 0 ]; then
             echo "✅ Subtraction Logic works (50-20=30)"
          else
             echo "❌ Subtraction Logic FAILED"
             exit 1
          fi
          
          echo "SUCCESS! App is running in Kubernetes!"
