name: CI-CD-JS-workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
    - name: Downloading the Code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Installing dependencies
      run: npm install
      
    - name: Uploading Artifact
      uses: actions/upload-artifact@v4
      with:
        name: production-code
        path: src/
