name: CI-CD-JS-workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
    - name: Downloading the Code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Installing dependencies
      run: npm install
      
    - name: Uploading Artifact
      uses: actions/upload-artifact@v4
      with:
        name: production-code
        path: .

  Linter:
      name: Code checking with Linter
      runs-on: ubuntu-latest
      needs: [Build]
      permissions:
        contents: read
        packages: read
        statuses: write
      
      steps:
        - name: Download code from repo
          uses: actions/checkout@v4
          
        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '20'

        - name: Install dependencies
          run: npm install
    
        - name: Run Linter
          run: npm run lint

  Prettier:
      name: Code checking with Pritier
      runs-on: ubuntu-latest
      needs: [Build]
      permissions:
        contents: read
        packages: read
        statuses: write

      steps:
        - name: Download code from repo
          uses: actions/checkout@v4

        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '20'

        - name: Install dependencies
          run: npm install

        - name: Run Prettier
          run: npm run format:check

  Unit-Tests:
      name: Downloading the artifact
      runs-on: ubuntu-latest
      needs: [Linter, Prettier]
      permissions:
        contents: read
        packages: read
        statuses: write

      steps:
        - name: Downloading the artifact
          uses: actions/download-artifact@v4
          with:
            name: production-code
            path: .

        - name: Setup Node.Js
          uses: actions/setup-node@v4
          with: 
            node-version: '20'
        
        - name: Installing dependencies
          run: npm install

        - name: Running test
          run: npm test 
        
  SAST-Security:
      name: Security analyzer with CodeQL
      runs-on: ubuntu-latest
      needs: [Unit-Tests]
      permissions:
        contents: read
        packages: read
        statuses: write
        security-events: write

      steps:
        - name: Downloading code from repo
          uses: actions/checkout@v4

        - name: Initialize CodeQL
          uses: github/codeql-action/init@v3
          with:
            languages: 'javascript'

        - name: Perform CodeQL Analysis
          uses: github/codeql-action/analyze@v3

  SCA-Security:
      name: Security dependency analizer with Trivy
      runs-on: ubuntu-latest
      needs: [Unit-Tests]
      permissions:
        contents: read
        packages: read
        statuses: write
        security-events: write 
    
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Run Trivy Scanner for Dependencies
          uses: aquasecurity/trivy-action@master
          with:
            scan-type: 'fs'
            scan-ref: '.'
            exit-code: '1'
            severity: 'CRITICAL,HIGH'

  Docker-Build-Push:
    name: Building and pushing Docker image to DockerHub
    runs-on: ubuntu-latest
    needs: [SAST-Security, SCA-Security]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push 
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/my-app:latest
            ${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}
  
  Post-Build-Scan:
    name: Security Scan on Remote Image
    runs-on: ubuntu-latest
    needs: [Docker-Build-Push]
    
    steps:
      - name: Run Trivy on Docker Hub Image
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'image'
          image-ref: '${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
        env:
          TRIVY_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          TRIVY_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
